* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f5f0;
}
header {
    width: auto;
    height: 60px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nameweb {
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding-left: 20px;
}
a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-size: 14px;
}
.taskbar {
    padding-right: 20px;
}
h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 35px;
}
.post {
    text-align: center;
    width: 580px;
    height: 450px;
    border: 1px solid white;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}
img {
    width: 540px;
    height: 300px;
    border-radius: 8px;
    margin: 10px;
}
.post h2 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.post p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.post a {
    color: #ddb434;
    padding-top: 20px;
}
.other {
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: center;
}
.other_articles {
    background-color: white;
    width: 900px;
    height: 80px;
    margin-bottom: 20px;
    border: 1px white solid;
    border-radius: 8px;
    padding-top: 15px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.other_articles p {
    padding-top: 10px;
}
footer {
    width: 100%;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 60px;
    padding: 20px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
