* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: gainsboro;
}
img {
    width: 100%;
    height: 80%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 80px;
    margin-right: 80px;
}
.bigfood {
    width: 730px;
    height: 370px;
    border-radius: 8px;
    background-color: white;
    margin-top: 20px;
    transition: transform 0.3s ease;
}
.smallfood {
    width: 280px;
    height: 370px;
    border-radius: 8px;
    background-color: white;
    margin-top: 20px;
    transition: transform 0.3s ease;
}
h1 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}
p {
    font-weight: 600;
    padding-top: 6px;
}
.bigfood :nth-child(3) {
    color:navajowhite;
}
.smallfood :nth-child(3) {
    color: navajowhite;
}
.bigfood:hover {
    transform: translateY(-5px);
}
.smallfood:hover {
    transform: translateY(-5px);
}