main {
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 200px;
    height: 120px;
    border-radius: 6px;
}
.menu {
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    font-weight: bold;
}