* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    background-color: #1e1e1e;
    position: fixed;
}
h3 {
    font-weight: 700;
    font-size: 32px;
    font-style: bold;
    line-height: 54.4px;
    color: #d4af37;
    margin-left: 400px;
    margin-top: 40px;
    margin-bottom: 31.39px;
}
a {
    text-decoration: none;
    font-family: Poppins ,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 27.2px;
    color: #cccccc;
    margin-left: 30px;
}
.taskbar {
    margin-top: 40.59px;
    margin-bottom: 40.8px;
    margin-right: 400px;
    display: flex;
    flex-direction: row;
}
.titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.intro {
    width: 100%;
}
.intro img {
    width: 100%;
    padding-top: 80px;
}
.menu {
    width: 100%;;
}
.outstanding {
    
    margin-top: 128px;
    margin-bottom: 89.59px;
    color: #1e1e1e;
    font-weight: 700;
    font-size: 48px;
    font-style: bold;
    text-align: center;
}
.food img {
    width: 300.25px;
    height: 350px;
    border-radius: 20px;
    margin-right: 33px;
    margin-top: 10px;
}
.food {
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contact {
    width: 100%;
    background-color: #1e1e1e;
}
.for_me {
    color: #d4af37;
    font-weight: 700;
    font-size: 48px;
    line-height: 81.6px;
    font-style: bold;
    padding-top: 128px;
    text-align: center;
}
.commit {
    font-family: Poppins , sans-serif;
    margin-top: 51.6px;
    text-align: center;
    padding-bottom: 123.59px;
}
.contact p {
    color: #dddddd;
    font-weight: 400;
    font-size: 18px;
    line-height: 30.6px;
}
footer {
    background-color: black;
    width: 100%;
    text-align: center;
    color: #888888;
    padding-top: 32.03px;
    padding-bottom: 32.47px;
}