* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   
img {
    width: 350px;
    height: 180px;
    border-radius: 8px;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: gainsboro;
    align-items: center;
}
.food {
    width: 330px;
    height: 200px;
    display: flex;
    flex-direction: column; 
    margin: 5px;
    text-align: center;
}
p {
    font-weight: bold;
}